In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df=pd.read_csv('imbalanced_data_for_DL.csv')

In [5]:
df

        Unnamed: 0  Rating                                             Review
0                0     4.0  Very good tea - the tea is milder than expecte...
1                1     4.0      I bought two of these they all disappointed .
2                2     3.0  The ones I got were the usual 46 oz boxes with...
3                3     2.0  They're OK.  They're very salty.  By far not a...
4                4     1.0  I am used to other Russian Caravan blends whic...
...            ...     ...                                                ...
119995      119995     5.0  These Newtons Fruit thins are a great tasting ...
119996      119996     5.0  its working great so far and my mom love it. T...
119997      119997     5.0  So I'm from New York, but am working at an int...
119998      119998     2.0  The bag is cute, definitely cannot hold anythi...
119999      119999     1.0  The fit on this shirt is bizarre--it very much...

[120000 rows x 3 columns]

In [5]:
df=df.drop(columns='Unnamed: 0')

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
x=df['Review']
y=df['Rating']

In [8]:
X_train, X_test, y_train, y_test = train_test_split(
    x, y, test_size=0.2, random_state=42, stratify=y
)

In [ ]:
 # making lower case
X_train = X_train.str.lower()

In [10]:
import re

def clean_text(text):
    text = str(text)
    text = re.sub(r"http\S+|www\S+|https\S+", '', text, flags=re.MULTILINE)  # remove URLs
    text = re.sub(r'<.*?>', '', text)  # remove HTML tags
    text = re.sub(r'[\U00010000-\U0010ffff]', '', text)  # remove emojis
    text = re.sub(r'[^\w\s]', '', text)  # remove punctuation
    text = re.sub(r'[^a-zA-Z0-9\s]', '', text)  # remove special characters
    text = re.sub(r'\s+', ' ', text).strip()  # remove extra whitespace
    return text

In [11]:
X_train=X_train.apply(clean_text)

In [12]:
import spacy
nlp = spacy.load("en_core_web_sm")

In [13]:
# Print all stop words
print(" Total stop words:", len(nlp.Defaults.stop_words))
print(" Stop words list:")
print(sorted(nlp.Defaults.stop_words))

 Total stop words: 326
 Stop words list:
["'d", "'ll", "'m", "'re", "'s", "'ve", 'a', 'about', 'above', 'across', 'after', 'afterwards', 'again', 'against', 'all', 'almost', 'alone', 'along', 'already', 'also', 'although', 'always', 'am', 'among', 'amongst', 'amount', 'an', 'and', 'another', 'any', 'anyhow', 'anyone', 'anything', 'anyway', 'anywhere', 'are', 'around', 'as', 'at', 'back', 'be', 'became', 'because', 'become', 'becomes', 'becoming', 'been', 'before', 'beforehand', 'behind', 'being', 'below', 'beside', 'besides', 'between', 'beyond', 'both', 'bottom', 'but', 'by', 'ca', 'call', 'can', 'cannot', 'could', 'did', 'do', 'does', 'doing', 'done', 'down', 'due', 'during', 'each', 'eight', 'either', 'eleven', 'else', 'elsewhere', 'empty', 'enough', 'even', 'ever', 'every', 'everyone', 'everything', 'everywhere', 'except', 'few', 'fifteen', 'fifty', 'first', 'five', 'for', 'former', 'formerly', 'forty', 'four', 'from', 'front', 'full', 'further', 'get', 'give', 'go', 'had', 'has', 'have', 'he', 'hence', 'her', 'here', 'hereafter', 'hereby', 'herein', 'hereupon', 'hers', 'herself', 'him', 'himself', 'his', 'how', 'however', 'hundred', 'i', 'if', 'in', 'indeed', 'into', 'is', 'it', 'its', 'itself', 'just', 'keep', 'last', 'latter', 'latterly', 'least', 'less', 'made', 'make', 'many', 'may', 'me', 'meanwhile', 'might', 'mine', 'more', 'moreover', 'most', 'mostly', 'move', 'much', 'must', 'my', 'myself', "n't", 'name', 'namely', 'neither', 'never', 'nevertheless', 'next', 'nine', 'no', 'nobody', 'none', 'noone', 'nor', 'not', 'nothing', 'now', 'nowhere', 'nâ€˜t', 'nâ€™t', 'of', 'off', 'often', 'on', 'once', 'one', 'only', 'onto', 'or', 'other', 'others', 'otherwise', 'our', 'ours', 'ourselves', 'out', 'over', 'own', 'part', 'per', 'perhaps', 'please', 'put', 'quite', 'rather', 're', 'really', 'regarding', 'same', 'say', 'see', 'seem', 'seemed', 'seeming', 'seems', 'serious', 'several', 'she', 'should', 'show', 'side', 'since', 'six', 'sixty', 'so', 'some', 'somehow', 'someone', 'something', 'sometime', 'sometimes', 'somewhere', 'still', 'such', 'take', 'ten', 'than', 'that', 'the', 'their', 'them', 'themselves', 'then', 'thence', 'there', 'thereafter', 'thereby', 'therefore', 'therein', 'thereupon', 'these', 'they', 'third', 'this', 'those', 'though', 'three', 'through', 'throughout', 'thru', 'thus', 'to', 'together', 'too', 'top', 'toward', 'towards', 'twelve', 'twenty', 'two', 'under', 'unless', 'until', 'up', 'upon', 'us', 'used', 'using', 'various', 'very', 'via', 'was', 'we', 'well', 'were', 'what', 'whatever', 'when', 'whence', 'whenever', 'where', 'whereafter', 'whereas', 'whereby', 'wherein', 'whereupon', 'wherever', 'whether', 'which', 'while', 'whither', 'who', 'whoever', 'whole', 'whom', 'whose', 'why', 'will', 'with', 'within', 'without', 'would', 'yet', 'you', 'your', 'yours', 'yourself', 'yourselves', 'â€˜d', 'â€˜ll', 'â€˜m', 'â€˜re', 'â€˜s', 'â€˜ve', 'â€™d', 'â€™ll', 'â€™m', 'â€™re', 'â€™s', 'â€™ve']

In [14]:
#lemmatization and stop word removal
def cleaning(text):
    doc = nlp(text)
    return ' '.join([token.lemma_ for token in doc if not token.is_stop])

In [15]:
X_train=X_train.apply(cleaning)

In [ ]:
#making lower case
X_test = X_train.str.lower()

In [17]:
X_test=X_test.apply(clean_text)

In [18]:
X_test=X_test.apply(cleaning)

In [19]:
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [20]:
# Tokenize words and convert to sequences
tokenizer = Tokenizer(num_words=10000, oov_token='<OOV>')
tokenizer.fit_on_texts(X_train)

X_train_seq = tokenizer.texts_to_sequences(X_train)
X_test_seq = tokenizer.texts_to_sequences(X_test)

In [21]:
# Pad sequences

X_train_pad = pad_sequences(X_train_seq, maxlen=100, padding='post')
X_test_pad = pad_sequences(X_test_seq, maxlen=100, padding='post')

In [22]:
X_train_pad

array([[   7,    3, 3426, ...,    0,    0,    0],
       [   8,  109,   97, ...,    0,    0,    0],
       [  34,  794,  814, ...,    0,    0,    0],
       ...,
       [ 991,   10, 1411, ...,    0,    0,    0],
       [1138,  389,    5, ...,    0,    0,    0],
       [  76, 4196, 4250, ...,    0,    0,    0]], dtype=int32)

In [23]:
X_test_pad

array([[   7,    3, 3426, ...,    0,    0,    0],
       [   8,  109,   97, ...,    0,    0,    0],
       [  34,  794,  814, ...,    0,    0,    0],
       ...,
       [ 991,   10, 1411, ...,    0,    0,    0],
       [1138,  389,    5, ...,    0,    0,    0],
       [  76, 4196, 4250, ...,    0,    0,    0]], dtype=int32)